/* ScrollbarStyles.css */
/* WebKit Browsers (Chrome, Safari) */
::-webkit-scrollbar {
    width: 8px;
  }
  
  /* ::-webkit-scrollbar-track {
    background: #fff;
  } */
  
  ::-webkit-scrollbar-thumb {
    background: #5dade2;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(135deg, #5dade2, #ff8a00);
  }