<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Test</title>
  </head>
  <body>
    <td class="esd-stripe" align="center">
      <table
        class="es-content-body"
        style="background-color: #ffffff"
        width="600"
        cellspacing="0"
        cellpadding="0"
        bgcolor="#ffffff"
        align="center"
      >
        <tbody>
          <tr>
            <td class="esd-structure" align="left">
              <table width="100%" cellspacing="0" cellpadding="0">
                <tbody>
                  <tr>
                    <td
                      class="es-m-p0r es-m-p20b esd-container-frame"
                      width="600"
                      valign="top"
                      align="center"
                    >
                      <table width="100%" cellspacing="0" cellpadding="0">
                        <tbody>
                          <tr>
                            <td
                              align="center"
                              class="esd-block-banner"
                              style="position: relative"
                              esdev-config="h1"
                            >
                              <a
                                target="_blank"
                                href="https://viewstripo.email"
                              >
                                <img
                                  class="adapt-img esdev-stretch-width esdev-banner-rendered"
                                  src="https://demo.stripocdn.email/content/guids/bannerImgGuid/images/image16985581414367026.png"
                                  alt="Trial Ending"
                                  title="Trial Ending"
                                  width="600"
                                  style="display: block"
                              /></a>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
        </tbody>
      </table>
    </td>
  </body>
</html>
